:root {
    --accent1-color: rgb(55, 211, 216);
    --body-font: arial;
    --primary-color: #000;
    --secondary-color: rgb(13, 4, 138);
    --white-color: #fff
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent1-color);
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/*Header Section*/

nav {
    width: 93%;
    padding: 5px 50px;
    margin: 10px 0;
    height: auto;
    background-color: rgba(58, 59, 59, 0.712);
    display: flex;
    align-items: center;
    gap: 80px;
}

header img {
    border-radius: 100%;
    width: 70px;
}

header a {
    padding: 0;
    margin: 10px;
    text-decoration: none;
    color: #fff;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/*Main - Div Section*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 880px;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 849px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

article {
    background-color: var(--secondary-color);
    opacity: 0.712;
    align-items: center;
    position: absolute;
    width: 835px;
    bottom: 0;
    color: var(--white-color);
    font-size: 0.9rem;
}

.hero article img {
    float: right;
    width: 125px;
}

/*Main - section Section*/

section h2 {
    color: #fff;
    background-color: var(--secondary-color);
    text-align: center;
    width: 880px;
}

section p {
    color: var(--primary-color);
}

/*Footer Section*/

footer {
    display: flex;
    height: 100%;
    text-align: center;
    color: var(--primary-color);
}

footer img {
    width: 40px;
    margin: 10px 10px;
}

.socialmedia a {
    text-decoration: none;
}