table {
    border: 2px solid #000;
    border-collapse: collapse;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
}

tbody {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

thead th,
tfoot tr {
    background-color: #000;
    color: white;
    font-weight: 700;
}